body {
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-size: 20px;
  margin: 3rem;
}

body.solarized-light {
  background-color: #EEE8D5;
  color: #586E75;
}
body.solarized-light div.code-toolbar pre {
  background-color: #FDF6E3;
}

body.solarized-dark {
  background-color: #073642;
  color: #93A1A1;
}
body.solarized-dark div.code-toolbar pre {
  background-color: #002B36;
}

h1, h2 {
  font-family: "PT Serif Caption", "PT Serif", "Times New Roman", "Times";
}

table th, table td {
  padding: 0.8rem;
  border-bottom: 1px solid #586E75;
}

table tbody tr:hover {
  opacity: 0.5;
}

div.code-toolbar > .toolbar {
  opacity: 1 !important;
}
